.navbar {
    background: linear-gradient(90deg, blue, red);     
    color: #fff;
  }

.navbar-center {
    display: flex;
    justify-content: center; 
    background: none; 
    border: none; 
}

.navbar-center h3 {
    color: #fff;
    font-size: 2rem;
}



  